<div class="dropdown dropdown-end">
  <label
    tabindex="0"
    class="btn btn-ghost dark:hover:bg-neutral flex"
    >
    <%= header_icon %>
    <span><%= title %></span>
  </label>
  <ul class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box">
    <% options.each do |option| %>
      <li>
        <%= option %>
      <li>
    <% end %>
  </ul>
</div>
