<div class="flex flex-col <%= 'min-h-[380px]' if fixed_height? %> w-full pt-4">
  <%= render @header %>
  <div class='<%= 'min-h-[420px]' if fixed_height? %>'>
    <div class="grow">
      <% if items.respond_to?(:each) && items.any? %>
        <% items.each do |item| %>
          <div class='leading-10 flex relative'>
            <%= render_row(item) %>
          </div>
        <% end %>
      <% else %>
        <p>No data found</p>
      <% end %>
    </div>
  </div>
</div>
