<%= turbo_frame_tag :goals do %>
  <div >
    <% if params.dig(:q, :goal_id) %>
      <p>Funnels are unavailable if filtering by a goal.</p>
    <% else %>
      <canvas data-controller="funnel-chart" data-data="<%= @funnel.to_json %>" ></canvas>
    <% end %>
  </div>
<% end %>
