<dialog id="<%= id %>" class="modal">
  <form method="dialog" class="modal-box w-11/12 max-w-5xl" data-controller='filter' data-action="submit->filter#applyFilters">
    <fieldset>
      <h5><%= title %></h5>
      <%= modal_display %>
      <button class="btn btn-primary mt-4" >Apply</button>
    </fieldset>
  </form>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
