<fieldset class="grid grid-cols-11 mt-1" data-controller="predicate-select">
  <div class="col-span-3 mr-2">
    <div class="w-full">
      <div class="relative inline-block text-left w-full">
        <div class="w-full">
          <% if @predicates.any? %>
            <select class='select select-primary bg-gray-900 ring-0  focus-within:ring-0 focus-within:ring-0 focus:ring-0 focus:outline-none inline-flex justify-between items-center w-full rounded-md border' data-action='change->predicate-select#handleChange'>
              <% @predicates.each do |predicate| %>
                <option value="<%= option_value(predicate) %>" <%= 'selected' if selected_predicate?(predicate) %>>
                  <%= predicate_label(predicate) %>
                </option>
              <% end %>
            </select>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-8">
    <div class="relative w-full">
      <%= render ::AhoyCaptain::ComboboxComponent.new(name: column_name_with_predicate, multiple: multiple, column: column, url: url, value: values) %>
    </div>
  </div>
</fieldset>
