<%= turbo_frame_tag :realtime do %>
  <div>
    <a class="block ml-1 md:ml-2 mr-auto text-xs md:text-sm font-bold " title="" data-realtime-target="label">
      <svg class="inline w-2 mr-1 md:mr-2 text-green-500 fill-current animate-pulse" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <circle cx="8" cy="8" r="8"></circle>
      </svg><%= @total %> <span class="hidden sm:inline-block">current visitors</span>
    </a>
  </div>
<% end %>
